Installation/flows.json
[
    {
        "id": "35078a49e8f5ee3e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38bb7577.af1c3a",
        "type": "mqtt in",
        "z": "35078a49e8f5ee3e",
        "name": "",
        "topic": "humidity",
        "qos": "0",
        "datatype": "auto",
        "broker": "712b53e5.990dfc",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 460,
        "y": 620,
        "wires": [
            [
                "7eafa2f8.041ebc"
            ]
        ]
    },
    {
        "id": "7eafa2f8.041ebc",
        "type": "function",
        "z": "35078a49e8f5ee3e",
        "name": "Function",
        "func": "pld = 'INSERT INTO `MQTT`(`Topic`, `Payload`) VALUES (\"'+ msg.topic +'\",\"'+ msg.payload +'\")'\n\nmsg.topic = pld\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 660,
        "wires": [
            [
                "c2bc9d370edc200c"
            ]
        ]
    },
    {
        "id": "369da565d2125f1e",
        "type": "mqtt in",
        "z": "35078a49e8f5ee3e",
        "name": "",
        "topic": "temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "712b53e5.990dfc",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 450,
        "y": 700,
        "wires": [
            [
                "c36c691a45c97d96"
            ]
        ]
    },
    {
        "id": "a564b8adad76e19e",
        "type": "mqtt in",
        "z": "35078a49e8f5ee3e",
        "name": "",
        "topic": "pressure",
        "qos": "0",
        "datatype": "auto",
        "broker": "712b53e5.990dfc",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 460,
        "y": 760,
        "wires": [
            [
                "e9b474f3246c7ba5"
            ]
        ]
    },
    {
        "id": "c36c691a45c97d96",
        "type": "delay",
        "z": "35078a49e8f5ee3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 700,
        "wires": [
            [
                "7eafa2f8.041ebc"
            ]
        ]
    },
    {
        "id": "e9b474f3246c7ba5",
        "type": "delay",
        "z": "35078a49e8f5ee3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 760,
        "wires": [
            [
                "c36c691a45c97d96"
            ]
        ]
    },
    {
        "id": "c2bc9d370edc200c",
        "type": "mysql",
        "z": "35078a49e8f5ee3e",
        "mydb": "d27cf1e17d0e2867",
        "name": "",
        "x": 1070,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "712b53e5.990dfc",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "NodeRedSQLClient",
        "usetls": false,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d27cf1e17d0e2867",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "BBS_Wetterstation",
        "tz": "",
        "charset": "UTF8"
    }
]